<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Clínica Bella Estética
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>


<body>

    <header class="topbar">

        <div class="brand">

            <div class="brand-icon">
                ✦
            </div>

            <div>
                <h1>Bella Estética</h1>

                <span>
                    Clínica de Estética
                </span>
            </div>

        </div>


      <nav class="navigation">

    <a href="{{ url_for('home') }}">
        Início
    </a>

    <a href="{{ url_for('clientes.pagina_clientes') }}">
        Clientes
    </a>

    <a href="#">
        Horários
    </a>

    <a href="{{ url_for('agendamentos.pagina_agendamentos') }}">
        Agendamentos
    </a>

</nav>

    </header>


    <main class="main-content">

        {% block content %}
        {% endblock %}

    </main>


    <footer class="footer">

        <p>
            Bella Estética · Cuidando de você com carinho
        </p>

    </footer>

</body>

</html>